body{
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: linear-gradient(135deg,#2b5876,#4e4376);
  font-family: sans-serif;
}

.container{
  background:rgba(255,255,255,.15);
  padding:35px;
  width:420px;
  text-align:center;
  border-radius:14px;
  backdrop-filter: blur(9px);
  color:#fff;
}

.input-boxes input{
  width:90px;
  padding:12px;
  border:none;
  border-radius:8px;
  margin:5px;
  text-align:center;
  background:rgba(255,255,255,.2);
  font-size:16px;
  color:#fff;
}

.btn{
  margin-top:12px;
  padding:12px;
  width:100%;
  background:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

#error{
  margin-top:10px;
  color:#ffb4b4;
}

#result{
  font-size:20px;
  margin-top:15px;
}
